# Ignore everything in the secrets directory, except the README.md file
secrets/*
!secrets/README.md

# Don't check these in, some of them change every run
data/
node_modules/
# for the devcontainer
.pnpm-store/