name: Scrape latest book data

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '1/20 * * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest
    env:
      GOODREADS_KEY: ${{ secrets.GOODREADS_KEY }}
      GOODREADS_USER: ${{ secrets.GOODREADS_USER }}
      WEB3STORAGE_TOKEN: ${{ secrets.WEB3STORAGE_TOKEN }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      # Get the stamp for the eventual commit message
      - name: Get current date stamp
        id: stamp
        run: echo "::set-output name=stamp::$(date -u +'%Y-%m-%dT%H:%M:%SZ')"

      - name: Setup deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Scrape Goodreads feed
        run: |
          deno run -q --allow-read --allow-write --allow-run --allow-net --allow-env --unstable src/scrape.js

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          # commented for local run
          # cache: 'npm'

      - name: Pin to web3.storage (ipfs)
        run: |
          npm ci
          npm start


      # see docs at https://github.com/stefanzweifel/git-auto-commit-action
      - name: Commit back changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Latest book data ${{ steps.stamp.outputs.stamp }}

          # Optional glob pattern of files which should be added to the commit
          # Defaults to all (.)
          # See the `pathspec`-documentation for git
          # - https://git-scm.com/docs/git-add#Documentation/git-add.txt-ltpathspecgt82308203
          # - https://git-scm.com/docs/gitglossary#Documentation/gitglossary.txt-aiddefpathspecapathspec
          file_pattern: goodreads-rss.json goodreads-ipfs.json


          # Optional commit user and author settings
          # commit_user_name: My GitHub Actions Bot # defaults to "GitHub Actions"
          # commit_user_email: my-github-actions-bot@example.org # defaults to "actions@github.com"
          # commit_author: Author <actions@github.com> # defaults to author of the commit that triggered the run

          # Optional. Used by `git-status`
          # See https://git-scm.com/docs/git-status#_options
          # status_options: '--untracked-files=no'
