name: Scrape latest book data

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    # every 20 minutes
    # - cron: "1/20 * * * *"
    # every 2 hours
    - cron: "0 */2 * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest
    env:
      GOODREADS_KEY: ${{ secrets.GOODREADS_KEY }}
      GOODREADS_USER: ${{ secrets.GOODREADS_USER }}
      W3_PRINCIPAL: ${{ secrets.W3_PRINCIPAL }}
      W3_PROOF: ${{ secrets.W3_PROOF }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          # version: Optional when there is a packageManager field in the package.json
          # version: 9
          run_install: true
      - uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
      - uses: oven-sh/setup-bun@v2
        with:
          # 1.x is working but docs say to use 1.0.x : I want minor updates too!
          # reverted to latest for now, which is the default
          bun-version: latest
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - uses: cue-lang/setup-cue@v1.0.1
        with:
          # reverting to latest, which is the default. Working as of "v0.10.0"
          version: latest
        id: install

      - name: Install jq (for pin-sh)
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Install @web3-storage/w3cli (for pin-sh)
        # Pinned (to 7.8.2) because of frequent breaking changes
        run: npm install -g @web3-storage/w3cli@7.8.2

      - name: Report versions
        run: |
          echo "pnpm: $(pnpm --version)"
          echo "node: $(node --version)"
          echo "bun: $(bun --version)"
          deno --version
          cue version
          jq --version
          w3 --version

      # Get the stamp for the eventual commit message
      - name: Get current date stamp
        run: echo "stamp=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

      - name: Scrape Goodreads feed
        # deno run w/ reload seems to have fixed CI issues
        run: |
          deno run --reload -q --allow-read --allow-write --allow-run --allow-net --allow-env apps/scrape/src/scrape.js

      - name: Scrape Goodreads feed (ng)
        run: |
          bun apps/scrape-ng/src/index.ts

      - name: E2E - Validate Intermediate RSS files with CUE
        run: |
          cue vet check-rss.cue ../data/rss-json/goodreads-rss-p*.json
          cue vet check-rss-ng.cue ../data/rss-json/goodreads-rss-ng-p*.json
        working-directory: cue

      - name: E2E - Validate Output with CUE w/ng
        run: |
          echo "validate scrape output"
          cue vet check-output.cue ../goodreads-rss.json
          echo "validate scrape-ng output"
          cue vet check-output.cue ../goodreads-rss-ng.json
        working-directory: cue

      - name: Pin to web3.storage (bash / w3 cli)
        run: ./apps/pin-sh/uploadToW3Storage.sh

      #  JS version disabled for now
      # - name: Pin to web3.storage (node)
      #   run: node apps/pin/src/pin.js

      # see docs at https://github.com/stefanzweifel/git-auto-commit-action
      - name: Commit back changes
        uses: stefanzweifel/git-auto-commit-action@v7
        if: ${{ !env.ACT }} # only commit if not in a local test run
        with:
          commit_message: Latest book data ${{ env.stamp }}

          # Optional glob pattern of files which should be added to the commit
          # Defaults to all (.)
          # See the `pathspec`-documentation for git
          # - https://git-scm.com/docs/git-add#Documentation/git-add.txt-ltpathspecgt82308203
          # - https://git-scm.com/docs/gitglossary#Documentation/gitglossary.txt-aiddefpathspecapathspec
          file_pattern: goodreads-rss.json goodreads-rss-ng.json goodreads-rss-ng-progress.json goodreads-ipfs.json

          # Optional commit user and author settings
          commit_user_name: Scrobble Books GitHub Actions Bot # defaults to "github-actions[bot]"
          # commit_user_email: my-github-actions-bot@example.org # defaults to "41898282+github-actions[bot]@users.noreply.github.com"
          # commit_author: Author <actions@github.com> # defaults to "username <username@users.noreply.github.com>", where "username" belongs to the author of the commit that triggered the run

          # Optional. Used by `git-status`
          # See https://git-scm.com/docs/git-status#_options
          # status_options: '--untracked-files=no'
